**/__pycache__/**

venv

outdirs/
workdir/

pslregex/__pycache__/*
Y/*
X/*

pslregex/pslregex/c/build/**
pslregex/domain/c/build/**
domain-manipulator/cpp/build/**

**/*.csv
windowing/bibo.tmp
windowing/vergine_no.txt
windowing/vergine.txt
build/**

old_trash/windowing
comunque sarò sincero, la storia che fai.md

Gasdotto.txt

**/bin/
**/lib/
**/log/
**/test/
**/export/
dnsparser/.gitignore
dnsparser/LICENSE
dnsparser/Makefile
dnsparser/project.conf
dnsparser/README.md
dnsparser/src/dnsparser.c
dnsparser/src/dnsparser.h
dnsparser/src/main.c
dnsparser/src/network.c
dnsparser/src/network.h
dnsparser/src/rtypes.c
dnsparser/src/rtypes.h
dnsparser/src/strutils.c
dnsparser/src/strutils.h
dnsparser/src/tcp.c
dnsparser/src/tcp.h
outdirs/2023-02-20-00-00-03-192.168.1.108/2023-02-20-00-00-03-192.168.1.108.onlydns.pcap
outdirs/2023-02-20-00-00-03-192.168.1.108/logs/binaries.log
outdirs/2023-02-20-00-00-03-192.168.1.108/logs/dns_parse.log
outdirs/2023-02-20-00-00-03-192.168.1.108/logs/pslregex2.log
outdirs/pslregex2/public_suffix_list.dat
psltrie/log.log
pslregex2/python/.~lock.psllist.csv#
asset/psl_list/data/flashstart/dataset.txt
asset/psl_list/data/suffixies/public_suffix_list.dat
