**/__pycache__/**

**/.ipynb_checkpoints/**

venv

outdir/
workdir/

pslregex/__pycache__/*
Y/*
X/*

pslregex/pslregex/c/build/**
pslregex/domain/c/build/**
domain-manipulator/cpp/build/**

**/*.csv
windowing/bibo.tmp
windowing/vergine_no.txt
windowing/vergine.txt
build/**

old_trash/windowing
comunque sarò sincero, la storia che fai.md

Gasdotto.txt

**/bin/
**/lib/
**/log/
**/test/
**/export/
dnsparser/.gitignore
dnsparser/LICENSE
dnsparser/Makefile
dnsparser/project.conf
dnsparser/README.md
dnsparser/src/dnsparser.c
dnsparser/src/dnsparser.h
dnsparser/src/main.c
dnsparser/src/network.c
dnsparser/src/network.h
dnsparser/src/rtypes.c
dnsparser/src/rtypes.h
dnsparser/src/strutils.c
dnsparser/src/strutils.h
dnsparser/src/tcp.c
dnsparser/src/tcp.h
outdirs/2023-02-20-00-00-03-192.168.1.108/2023-02-20-00-00-03-192.168.1.108.onlydns.pcap
outdirs/2023-02-20-00-00-03-192.168.1.108/logs/binaries.log
outdirs/2023-02-20-00-00-03-192.168.1.108/logs/dns_parse.log
outdirs/2023-02-20-00-00-03-192.168.1.108/logs/pslregex2.log
outdirs/pslregex2/public_suffix_list.dat
psltrie/log.log
pslregex2/python/.~lock.psllist.csv#
asset/psl_list/data/flashstart/dataset.txt
asset/psl_list/data/suffixies/public_suffix_list.dat
asset/whitelisting/top10m.tar.gz
.DS_Store

ml/pdf/out*
ml/book/*.pdf
ml/book/images/**/
ml/pcap_analysis/mcfp/**
ml/latex/beamer/main.aux
ml/latex/beamer/main.bcf
ml/latex/beamer/main.log
ml/latex/beamer/main.nav
ml/latex/beamer/main.out
ml/latex/beamer/main.pdf
ml/latex/beamer/main.run.xml
ml/latex/beamer/main.snm
ml/latex/beamer/main.tex
ml/latex/beamer/main.toc
ml/latex/beamer/pitfalls.png
ml/latex/beamer/when_are_we_infected_nosuptitle.pdf
ml/latex/main.aux
ml/latex/main.log
ml/latex/main.out
ml/latex/main.pdf
ml/latex/main.tex
ml/latex/sample.bib

ml/analysis/images/
ml/analysis/tmp/

ml/simulation/*.pdf
ml/simulation/*.svg
ml/rule/beamer/main.aux
ml/rule/beamer/main.log
ml/rule/beamer/main.nav
ml/rule/beamer/main.out
ml/rule/beamer/main.snm
ml/rule/beamer/main.toc
ml/rule/tmp/*
