**/__pycache__/**

venv

pslregex/__pycache__/*
Y/*
X/*

pslregex/pslregex/c/build/**
pslregex/domain/c/build/**
domain-manipulator/cpp/build/**

**/*.csv
windowing/bibo.tmp
windowing/vergine_no.txt
windowing/vergine.txt
build/**

old_trash/windowing
comunque sarò sincero, la storia che fai.md

Gasdotto.txt

**/bin/
**/lib/
**/log/
**/test/
**/export/
